{% extends "../../../components/layout.twig" %}
{% block siteTitle %}Register{% endblock %}
{% block content %}
    {% include "../../../components/header.twig" with {
        "title": "Register as a Security Advisor",
        "subtitle": "Please note that this application is a prototype and is not ready to be used in production.",
        "breadcrumbs": [
            {
                "label": "Demo Home",
                "link": "$ROOT/",
                "title": "Return to the demo's homepage."
            },
            {
                "label": "Security Advisor Home",
                "link": "$ROOT/admin/home/",
                "title": "Return to the security advisor's homepage."
            },
            {
                "label": "Registration",
                "link": "$ROOT/admin/auth/register-01-account/",
                "title": "Return to the registration process."
            }
        ]
    } %}
    <div data-c-padding="tb(3)">
        <div data-c-container="base(medium, center)">
            <form data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="base(1of1)">
                    <h2 data-c-font-size="h2">Hey, thanks for registering!</h2>
                    <p data-c-margin="tb(1)">Let's get started by collecting some basic information about you.</p>
                </div>
                <div
                    data-c-grid-item="base(1of1) tl(1of2)" 
                    data-c-input="text">
                    <label for="TI2">My First Name</label>
                    <span>Required</span>
                    <div>
                        <input id="TI2" placeholder="e.g. Clark" required type="text" value="Cassandra" />
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div
                    data-c-grid-item="base(1of1) tl(1of2)" 
                    data-c-input="text">
                    <label for="TI2">My Last Name</label>
                    <span>Required</span>
                    <div>
                        <input id="TI2" placeholder="e.g. Kent" required type="text" value="Goodwill" />
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div
                    data-c-grid-item="base(1of1)" 
                    data-c-input="select">
                    <label for="SEL2">My Department</label>
                    <span>Required</span>
                    <div>
                        <i class="material-icons">
                            arrow_drop_down
                        </i>
                        <select required id="SEL2">
                            <option disabled>Select a department...</option>
                            <option selected>Employment and Social Development Canada</option>
                            <option>Treasury Board of Canada Secretariat</option>
                            <option>Canada Revenue Agency</option>
                            <option>etc.</option>
                        </select>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <p data-c-margin="bottom(1)">Please use your Government of Canada email address to register. During the next step, we'll ask you to verify this email by sending you a code.</p>
                </div>
                <div 
                    data-c-grid-item="base(1of1)"
                    data-c-input="email">
                    <label for="EM2">My Government of Canada Email</label>
                    <span>Required</span>
                    <div>
                        <input id="EM2" placeholder="e.g. first.last@department.gc.ca, first.last@canada.ca" required type="email" value="cassandra.goodwill@canada.ca"/>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <p data-c-margin="bottom(.5)">Please create a password that meets the following criteria:</p>
                    <ul data-c-margin="bottom(1)">
                        <li>contains at least 15 characters</li>
                        <li>uses at least one lowercase letter</li>
                        <li>uses at least one uppercase letter</li>
                        <li>uses at least one number</li>
                        <li>uses at least one of these symbols: !, @, #, $, %, ^, &amp;, *</li>
                    </ul>
                </div>
                <div
                    data-c-grid-item="base(1of1) tl(1of2)" 
                    data-c-input="password">
                    <label for="p2">My Password</label>
                    <span>Required</span>
                    <div>
                        <input id="p2" required type="password" value="G1asses@reTheBestDisguise" />
                        <button type="button">
                            <i class="material-icons">
                                visibility
                            </i>
                            <i class="material-icons">
                                visibility_off
                            </i>
                        </button>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div
                    data-c-grid-item="base(1of1) tl(1of2)" 
                    data-c-input="password">
                    <label for="p2">Confirm Password</label>
                    <span>Required</span>
                    <div>
                        <input id="p2" required type="password" value="G1asses@reTheBestDisguise" />
                        <button type="button">
                            <i class="material-icons">
                                visibility
                            </i>
                            <i class="material-icons">
                                visibility_off
                            </i>
                        </button>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <hr 
                        data-c-hr="thin(gray)"
                        data-c-margin="top(.5) bottom(2)">
                    <p 
                        data-c-color="c2"
                        data-c-font-weight="bold"
                        data-c-margin="bottom(.5)">What's Next</p>
                    <p data-c-margin="bottom(1)">Next up, we'll verify your email and set up 2-factor authentication to keep your account secure!</p>
                </div>
                <div
                    data-c-align="base(left)" 
                    data-c-grid-item="base(1of2)">
                    <a
                        data-c-button="outline(c3)"
                        data-c-radius="rounded"
                        href="$ROOT/admin/home/"
                        title="">Cancel</a>
                </div>
                <div
                    data-c-align="base(right)" 
                    data-c-grid-item="base(1of2)">
                    <a
                        data-c-button="solid(c1)"
                        data-c-radius="rounded"
                        href="$ROOT/admin/auth/register-02-verify"
                        title="">Submit</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}