<div data-c-grid-item="base(1of1)">
    <h2 id="begin" data-c-margin="top(3) bottom(1)" data-c-heading="h2" data-c-padding="bottom(1)">
        Introduction
    </h2>
    <p data-c-margin="bottom(1)">This tool allows you to complete a security clearance application and allows you to save your progress by downloading a file that contains your information. This is done so that you are in control of your own data and can store it in a location of your preference. When you're ready to take a break, simply use the "Save &amp; Download" button to save a new copy to your device. Keep this file in a safe and secure location. If you're ready to submit your application, use the "Save &amp; Submit" button to download a copy, and the system will submit your application at the same time.</p>
</div>