<div 
    data-c-align="base(center)"
    data-c-background="gray(10)"
    data-c-border="all(thin, solid, gray)"
    data-c-margin="top(1)"
    data-c-padding="all(1)"
    data-c-radius="rounded">
    <span data-c-color="gray">EXAMPLE APPLICATION DATA</span>
</div>