{% extends "../../../components/layout.twig" %}
{% block siteTitle %}Register{% endblock %}
{% block content %}
    {% include "../../../components/header.twig" with {
        "title": "Registration: Verify your Email",
        "subtitle": "Please note that this application is a prototype and is not ready to be used in production.",
        "breadcrumbs": [
            {
                "label": "Demo Home",
                "link": "$ROOT/",
                "title": "Return to the demo's homepage."
            },
            {
                "label": "Applicant Home",
                "link": "$ROOT/citizen/home/",
                "title": "Return to the applicant homepage."
            },
            {
                "label": "Registration",
                "link": "$ROOT/citizen/auth/register-02-verify/",
                "title": "Return to the registration process."
            }
        ]
    } %}
    <div data-c-padding="tb(3)">
        <div data-c-container="base(medium, center)">
            <form data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="base(1of1)">
                    <h2 data-c-font-size="h2">Hi Jason, it's nice to meet you!</h2>
                    <p data-c-margin="tb(1)">Please enter the code we've emailed you into the field below to confirm your email address. <a href="#" title="Click here if you did not receive a code.">I didn't receive a code!</a></p>
                </div>
                <div 
                    data-c-grid-item="base(1of1)"
                    data-c-input="number">
                    <label for="NUM2">Verification Code</label>
                    <span>Required</span>
                    <div>
                        <input id="NUM2" placeholder="12345" required type="number" value="34520"/>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <hr 
                        data-c-hr="thin(gray)"
                        data-c-margin="top(.5) bottom(2)">
                    <p 
                        data-c-color="c2"
                        data-c-font-weight="bold"
                        data-c-margin="bottom(.5)">What's Next</p>
                    <p data-c-margin="bottom(1)">The next step involves using an "authenticator" application on your mobile device to secure your account using a "second factor", which means your account is protected by not only a password, but the authenticator application too!</p>
                </div>
                <div
                    data-c-align="base(right)" 
                    data-c-grid-item="base(1of1)">
                    <a
                        data-c-button="solid(c1)"
                        data-c-radius="rounded"
                        href="$ROOT/citizen/auth/register-03-second-factor"
                        title="">Submit</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}