{% extends "../../../components/layout.twig" %}
{% block siteTitle %}Register{% endblock %}
{% block content %}
    {% include "../../../components/header.twig" with {
        "title": "Registration: Set up 2-factor Authentication",
        "subtitle": "Please note that this application is a prototype and is not ready to be used in production.",
        "breadcrumbs": [
            {
                "label": "Demo Home",
                "link": "$ROOT/",
                "title": "Return to the demo's homepage."
            },
            {
                "label": "Applicant Home",
                "link": "$ROOT/citizen/home/",
                "title": "Return to the applicant homepage."
            },
            {
                "label": "Registration",
                "link": "$ROOT/citizen/auth/register-03-second-factor/",
                "title": "Return to the registration process."
            }
        ]
    } %}
    <div data-c-padding="tb(3)">
        <div data-c-container="base(medium, center)">
            <form data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="base(1of1)">
                    <h2 data-c-font-size="h2">Fantastic! Let's set up your authenticator application.</h2>
                    <p data-c-margin="top(1)">This will secure your account by providing a unique, temporary code that we'll periodically ask for when you access information. This helps us know that you're you! You'll be able to find this temporary code within the app after scanning the QR code provided below. If you're unsure of which authenticator application to use for this registration, here are a few that you can choose from:</p>
                    <ul data-c-margin="top(1)">
                        <li><a href="https://authy.com/" target="_blank" title="Learn more about Authy and find out how to download it to your phone.">Authy</a></li>
                        <li><a href="https://www.google.com/landing/2step/" target="_blank" title="Learn more about Google Authenticator and find out how to download it to your phone.">Google Authenticator</a></li>
                        <li><a href="https://www.microsoft.com/en-us/account/authenticator" target="_blank" title="Learn more about Microsoft Authenticator and find out how to download it to your phone.">Microsoft Authenticator</a></li>
                    </ul>
                    <p data-c-margin="tb(1)">Once you have the application installed on your phone, open it up, and "add" an account by scanning this QR code. If all goes well, it'll provide you with a code that changes every 30 seconds or so. We'll enter this code in the next step.<p>
                </div>
                <div 
                    data-c-align="base(center)"
                    data-c-grid-item="base(1of1)">
                    <img
                        alt="This is your 2-factor setup code."
                        src="$ROOT/img/qr.png">
                </div>
                <div data-c-grid-item="base(1of1)">
                    <hr 
                        data-c-hr="thin(gray)"
                        data-c-margin="top(.5) bottom(2)">
                    <p 
                        data-c-color="c2"
                        data-c-font-weight="bold"
                        data-c-margin="bottom(.5)">What's Next</p>
                    <p data-c-margin="bottom(1)">Next we'll enter your temporary code to finish the setup.</p>
                </div>
                <div
                    data-c-align="base(right)" 
                    data-c-grid-item="base(1of1)">
                    <a
                        data-c-button="solid(c1)"
                        data-c-radius="rounded"
                        href="$ROOT/citizen/auth/register-04-second-factor-verify"
                        title="">I Have My Code</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}