{% extends "../../../components/layout.twig" %}
{% block siteTitle %}Login{% endblock %}
{% block content %}
    {% include "../../../components/header.twig" with {
        "title": "Login as a Security Advisor",
        "subtitle": "Please note that this application is a prototype and is not ready to be used in production.",
        "breadcrumbs": [
            {
                "label": "Demo Home",
                "link": "$ROOT/",
                "title": "Return to the demo's homepage."
            },
            {
                "label": "Security Advisor Home",
                "link": "$ROOT/admin/home/",
                "title": "Return to the security advisor's homepage."
            },
            {
                "label": "Login",
                "link": "$ROOT/admin/auth/login-01-account/",
                "title": "Return to the login process."
            }
        ]
    } %}
    <div data-c-padding="tb(3)">
        <div data-c-container="base(medium, center)">
            <form data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="base(1of1)">
                    <h2 data-c-font-size="h2">It's great to see you again!</h2>
                    <p data-c-margin="tb(1)">Please enter your account information to log in.</p>
                </div>
                <div 
                    data-c-grid-item="base(1of1)"
                    data-c-input="email">
                    <label for="EM2">My Government of Canada Email</label>
                    <span>Required</span>
                    <div>
                        <input id="EM2" placeholder="e.g. first.last@department.gc.ca, first.last@canada.ca" required type="email" value="cassandra.goodwill@canada.ca"/>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div
                    data-c-grid-item="base(1of1)" 
                    data-c-input="password">
                    <label for="p2">My Password</label>
                    <span>Required</span>
                    <div>
                        <input id="p2" required type="password" value="G1asses@reTheBestDisguise" />
                        <button type="button">
                            <i class="material-icons">
                                visibility
                            </i>
                            <i class="material-icons">
                                visibility_off
                            </i>
                        </button>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <hr 
                        data-c-hr="thin(gray)"
                        data-c-margin="top(.5) bottom(2)">
                </div>
                <div
                    data-c-align="base(left)" 
                    data-c-grid-item="base(1of2)">
                    <a
                        data-c-button="outline(c3)"
                        data-c-radius="rounded"
                        href="$ROOT/admin/home/"
                        title="">Cancel</a>
                </div>
                <div
                    data-c-align="base(right)" 
                    data-c-grid-item="base(1of2)">
                    <a
                        data-c-button="solid(c1)"
                        data-c-radius="rounded"
                        href="$ROOT/admin/auth/login-02-second-factor"
                        title="">Submit</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}